
            <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header" translate="dailyLifeHappenings"></h1>
                </div>
                <!--end page header -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                  <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" ng-click="newsbtn()" translate="news"></button>
                                  </div>
                                  <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-danger" ng-click="fictionsbtn()" translate="fictions">Fictions</button>
                                  </div>
                                  <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-success" ng-click="dictationbtn()" translate="educationalService">Dictation</button>
                                  </div>
                                  <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning" ng-click="transport()"><a href="transport/{{userId}}" translate="travelAndTravelSchedules"></a></button>
                                  </div>
                                </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                 <a ng-if="permission=='news' || permission=='admin'" href="addNews/{{userId}}" translate="writeNewsHere" ng-click="getListOfDailyLife()">Write news here</a>
                                 <input type="text" ng-if="languageKey=='TG'" ng-model="newsFilter" class="form-control" placeholder="ንምርካብ ኣብዚ ስም ጸሓፍ">
                                 <input type="text" ng-if="languageKey=='EN'" ng-model="newsFilter" class="form-control" placeholder="type to filter">
                                 <input type="text" ng-if="languageKey=='NL'" ng-model="newsFilter" class="form-control" placeholder="type om te filteren">
                                     <p>
                                        <ul ng-repeat="news in allNewsInfo | filter:newsFilter">
                                            <div>
                                            <h3>{{news.title}}</h3>
                                              <span class="label label-info" translate="postedBy"></span>&nbsp;&nbsp;{{news.newsprovidername}}
                                              <h4>{{news.subTitle}}</h4>
                                              <div>
                                                  <li style="list-style-type: none;">
                                                      <div>
                                                          {{news.news}}
                                                           <div ng-if="news.fileType==='image/jpeg' || news.fileType==='image/png'">
                                                              <a href="#"><img ng-src="/newsImage/{{news.fileName}}" id="1" height="70%" width="70%" class="thumbnail">
                                                             </a>
                                                           </div>
                                                           <div ng-if="news.fileType==='video/mp4'">
                                                              <a href="#" ><video width="320" height="240" controls  controlsList="nodownload">
                                                                  <source ng-src="/newsImage/{{news.fileName}}" type="video/mp4">
                                                                </video>
                                                              </a>
                                                           </div>
                                                      </div>
                                                  </li>
                                                  <img ng-src="/userImage/{{news.uploaderPhoto}}" width="30" height="30">&nbsp;<label>{{news.newsprovidername}}</label>
                                                  <span ng-if="news.userId==userId"><input type="button" value="delete" class="btn-circle" ng-click="deleteNews(news.posterInfoId,news.fileName)"></span>
                                              </div>
                                            </div>
                                        </ul>
                                    </p>
                                </div>
                                <div class="col-lg-3 alert-info pull-right">
                                  <hr>
                                 <input type="text" ng-if="languageKey=='TG'" ng-model="newsMainTitle" class="form-control" placeholder="ኣርእስቲ ንምርካብ ኣብዚ ስም ጸሓፍ">
                                 <input type="text" ng-model="newsMainTitle" ng-if="languageKey=='EN'" class="form-control" placeholder="type to filter">
                                 <input type="text" ng-model="newsMainTitle" ng-if="languageKey=='NL'" class="form-control" placeholder="type to filter">
                                  <p><ul ng-repeat="newsTitle in allTitles | filter:newsMainTitle">
                                     <div>
                                         <li style="list-style-type: none;"><label><a href="" ng-click="getNewsById(newsTitle.title)">{{newsTitle.title}}</a>
                                         </label><br>
                                         <span translate="postedOn"></span>&nbsp;&nbsp;<span am-time-ago="newsTitle.postedTime"></span><br>
                                          <span class="label label-info" translate="postedBy"></span>&nbsp;&nbsp;<img ng-src="/userImage/{{newsTitle.uploaderPhoto}}" width="30" height="30">{{newsTitle.newsprovidername}}</li>
                                           <ul ng-repeat="subTitle in subTitle">
                                               <li>{{subTitle.subTitle}}</li>
                                          </ul>
                                     </div>
                                    </ul></p>
                                </div>
                                <div class="modal" id="newsModal" tablindex="-1" data-backdrop="static" data-keyboard="false">
                                  <div class="modal-dialog model-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                           <input type="hidden" ng-model="newsProviderId">
                                           <input type="hidden" ng-model="newsTextId">
                                           <input type="hidden" ng-model="newsMainTitleId">
                                           <input type="hidden" ng-model="newsSubTitleId">
                                            <input type="hidden" ng-model="newsprovidername" class="form-control" disabled="false">
                                            <label translate="telephone"></label><input type="text" ng-model="newsprovidertele" class="form-control">
                                             <label translate="catagories"></label>
                                                <span ng-if="languageKey==null">
                                                  <select class="form-control" ng-model="$parent.historyType" ng-change="changeGender(historyType.Id)"
                                                    ng-options="dailyLife as dailyLife.english for dailyLife in issueItems">
                                                 </select>
                                                </span>
                                                <span ng-if="languageKey=='EN'">
                                                  <select class="form-control" ng-model="$parent.historyType" ng-change="changeGender(historyType.Id)"
                                                    ng-options="dailyLife as dailyLife.english for dailyLife in issueItems">
                                                 </select>
                                                </span>
                                                <span ng-if="languageKey=='TG'">
                                                  <select class="form-control" ng-model="$parent.historyType" ng-change="changeGender(historyType.Id)"
                                                    ng-options="dailyLife as dailyLife.tigrina for dailyLife in issueItems">
                                                 </select>
                                                </span>
                                                <span ng-if="languageKey=='NL'">
                                                  <select class="form-control" ng-model="$parent.historyType" ng-change="changeGender(historyType.Id)"
                                                    ng-options="dailyLife as dailyLife.dutch for dailyLife in issueItems">
                                                 </select>
                                                </span>
                                            <label translate="title"></label><input type="text" ng-model="newsMainTitle" class="form-control">
                                           <label translate="subTitle"></label><input type="text" ng-model="newsSubTitle" class="form-control">
                                                <label translate="writeDetailsHereBelow"></label><textarea rows="10" cols="70" ng-model="newsText" class="form-control"></textarea>

                                                    <div class="pull-left">
                                                        <button class="btn btn-primary" ng-click="submitNews()" translate="sendNewsText" ng-disabled="newsButtonDisabled"></button>
                                                        <label translate="uploadImageOrVidio"></label><input type="checkbox" ng-model="fileUpload" ng-disabled="disabledfileUpload">
                                                        <div ng-show="fileUpload">
                                                             <form role="form" action="/jobFinder/newsFileUploader" method="post" enctype="multipart/form-data">
                                                               <input type="hidden" value="{{newsSubTitleId}}" name="subTitleId">
                                                               <input type="file" id="fileUpload" name="myFile" >
                                                               <p id="sizeOfDocumentForPost"></p>
                                                               <input type="submit" id="uploadImageToNewsId" value="upload your file" ng-click="checkUploadedFile">
                                                             </form>
                                                             <div id="image-holder"></div>
                                                        </div>
                                                    </div>
                                                        <button ng-click="newSubTitle()" class="btn btn-warning" translate="addNewSubTitle"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button ng-click="newStart()" class="btn btn-danger" translate="startNew"></button>


                                         </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
</body>

</html>
