
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                      <div class="btn-group btn-group-justified" role="group" aria-label="...">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" ng-click="newsbtn()" translate="news"></button>
                          </div>
                          
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" ng-click="fictionsbtn()" translate="fictions">Fictions</button>
                          </div>
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info" ng-click="dictationbtn()" translate="educationalService">Dictation</button>
                          </div>
                        </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-3 filterNews">
                       <label translate="filterHeadingsHere"></label>
                       <input type="text" ng-model="newsMainTitle" class="form-control" placeholder="type to filter">
                       <hr>
                        <p><ul ng-repeat="newsTitle in allTitles | filter:newsMainTitle">
                           <div>
                               <li class="newstitle"><label><a href="" ng-click="getNewsById(newsTitle.title)">{{newsTitle.title}}</a>
                               </label><br>
                               <span translate="postedOn"></span>&nbsp;&nbsp;<span am-time-ago="newsTitle.postedTime"></span><br>
                                <span class="label label-info" translate="postedBy"></span>&nbsp;&nbsp;<img ng-src="/userImage/{{newsTitle.uploaderPhoto}}" width="30" height="30">{{newsTitle.newsprovidername}}</li>
                                 <ul ng-repeat="subTitle in subTitle">
                                     <li>{{subTitle.subTitle}}</li>
                                </ul>
                           </div>
                          </ul></p>
                      </div>
                        <div class="col-lg-8">
                         <input type="text" ng-model="newsFilter" class="form-control" placeholder="type to filter">
                        
                         <div class="news" id="news">
                             <p>
                                <ul ng-repeat="news in allNewsInfo | filter:newsFilter">
                                    
                                    <h3>{{news.title}}</h3>
                                      <span class="label label-info" translate="postedBy"></span>&nbsp;&nbsp;{{news.newsprovidername}}
                                      <h4>{{news.subTitle}}</h4>
                                      <div>
                                          <li class="newstitle">
                                              <div>
                                                  {{news.news}}
                                                   <div ng-if="news.fileType==='image/jpeg' || news.fileType==='image/png'">
                                                      <a href="#"><img ng-src="/newsImage/{{news.fileName}}" id="1" height="70%" width="70%" class="thumbnail">
                                                     </a>
                                                   </div>
                                                   <div ng-if="news.fileType==='video/mp4'">
                                                      <a href="#" ><video width="320" height="240" controls>
                                                          <source ng-src="/newsImage/{{news.fileName}}" type="video/mp4">
                                                        </video>
                                                      </a>
                                                   </div>
                                              </div>
                                          </li>
                                          <img ng-src="/userImage/{{news.uploaderPhoto}}" width="30" height="30">&nbsp;<small>{{news.newsprovidername}}</small>
                                      </div>
                                    
                                </ul>
                            </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  
