<!DOCTYPE html>
<html ng-app="myApp" ng-cloak>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116004031-1"></script>
    <meta charset="utf-8">
    <link rel="icon" sizes="64x64" href="/assets/log/bird.png">
    <title>your help  lab home page,The work opportunities</title>
    <base href="/">
    <meta charset="utf-8" name="description" content="source of job opportunities,source of news,source of all trends of human life.">
    <meta charset="utf-8" name="keywords" content="job search,employee search,employer search,get in touch with employer,get intouch with employee,employee,employer,yourhelplab.com,your help lab,your help,gide segid,wedi segid,job opportunities,job search,items to sell,cheap items to sell,job posts,schedule a journey,journey,pick me up,ትግርኛ,ዝሽየጡ ኣቕሑ,geez,ግእዝ,መጓዓዝያ,ስራሕ,ሰራሕተኛ,ኣስራሓይ,ስራሕ ምድላይ,ዜና,ታሪኽ,ምኽሪታት,tigrina,tigirigna,zshyetu negerat,megaazyatat,srah delye,srah,serahtena delye,serahtena,nay srah edilat,educational service,course,ትምህርቲ">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/main-style.css" rel="stylesheet"/>
     <link href="/assets/css/mystyle.css" rel="stylesheet"/>
    <link href="/assets/css/chat.css" rel="stylesheet"/>
       <link href="/assets/css/autocomplete.css" rel="stylesheet"/>
      <link rel="stylesheet" href="assets/css/homePageBeforeLoginStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
      <header>
        <div ui-view="topBarBeforeLogin"></div>
     </header>
   </head>
  <body>
      <div ui-view="topBarAfterLogin">
      </div>
      <div ui-view>
      </div>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/controller/main.js"></script>
    <script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/moment/locale/tg.js"></script>
    <script src="/bower_components/moment/locale/nl.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    
    <script  src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/controller/autocomplete.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <!-- <script data-require="angular-ui-bootstrap@*" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script> -->
   <!--  -->
  </body>
</html>
