      <div class="container">
         <div>
             <div>
                  <div class="col-lg-1 pull-left">
                    <img src="/assets/img/bird.png" alt="log here"  width="110" height="110">
                  </div>
                  <div class="col-lg-11">
                    <h1 class="title">YOUR HELP LAB</h1>
                    <small  class="pull-left languages"><a href=""class="languages" ng-click="changeLanguage('TG')">ትግርኛ</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="languages" ng-click="changeLanguage('EN')">English</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="languages" ng-click="changeLanguage('NL')" >Dutch</a></small>
                    <span class="pull-right">
                      <a href="/" ng-click="onClickLoginFromHomePage()" class="homePageNavigationsMenu glyphicon glyphicon-home" translate="gotohomepage">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="login" ng-click="onClickLoginFromHomePage()" class="homePageNavigationsMenu glyphicon glyphicon-user" translate="loginHeadline">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <i aria-hidden="true"></i><a href="contactus" class="homePageNavigationsMenu" ng-click="contactus()" translate="contactus">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i  aria-hidden="true"></i><a href="about" class="homePageNavigationsMenu" ng-click="about()" translate="aboutus">About</a>
                   
                    </span>
                  </div>
             </div>
             <div >
          </div>
         </div>
      </div>